{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Приватные сообщения</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" media="all" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
  </head>
<body>

<table id="messages" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Сообщение</th>
                <th>Дата</th>
                <th>Пользователь</th>
                <th>Направление</th>
                <th>Заголовок</th>
            </tr>
        </thead>
    </table>

<script type="text/javascript">
    $(document).ready(function() {
        $('#messages').DataTable( {
            "ajax": "{% static 'vk_parser/example.json' %}",
            "order": [[ 1, "desc" ]]
        } );
    } );

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66743218-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>