{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ClassText - ваши данные работают на вас</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
<body>

  <div align="center">
    <h1>Отправьте ваши данные нам :)</h1>
  </div>

<hr style="margin-top: 0px;">

  <form class="form-horizontal" action="/" method="post">
  {% csrf_token %}

  <fieldset>
    <div>
      <label class="col-md-4 control-label" for="name">Имя</label>
      <div class="col-md-5">
      <input id="name" name="name" placeholder="Irina" class="form-control input-md" required="" type="text">
      <span class="help-block">Ваше имя</span>
      </div>
    </div>

    <div>
      <label class="col-md-4 control-label" for="email">E-mail</label>
      <div class="col-md-5">
      <input id="email" name="email" placeholder="irina-goltsman@phystech.edu" class="form-control input-md" required="" type="email">
      <span class="help-block">Введите ваш e-mail</span>
      </div>
    </div>

    <div>
      <label class="col-md-4 control-label" for="ira_data">Данные</label>
      <div class="col-md-5">
      <textarea id="ira_data" name="ira_data"></textarea>
      <span class="help-block">Данные ням-ням</span>
      </div>
    </div>

    <div>
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-default">Отправить</button>
      </div>
    </div>
  </fieldset>
  </form>

<hr>


</body>
</html>



