{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Приватные сообщения</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" media="all" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
  </head>
<body>

<p align="right"><a href="delete"><font color="#FF0000">Удалить все сообщения безвозвратно</font></a></p>

<table id="messages" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Сообщение</th>
                <th>Дата</th>
                <th>Пользователь</th>
                <th>Направление</th>
                <th>Заголовок</th>
            </tr>
        </thead>
    </table>

<script type="text/javascript">
    $(document).ready(function() {
        $('#messages').DataTable( {
            "ajax": '{% static json %}',
            "order": [[ 1, "desc" ]]
        } );
    } );
</script>

</body>
</html>