<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Vk manga, спасибо за использование сервиса</title>
  </head>
<body>
  <p>Ссылка на приватные сообщения придёт на указанный e-mail {{ email }}</p>
  <p>Время ожидания зависит от количества сообщений и загруженности сервиса</p>
  <p>Помните, что история чужой переписки защищена законом</p>
  <p>Используйте сервис только для экспорта своих приватных сообщений</p>
  <a href="{% url 'index' %}">Вернуться на главную</a>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66743218-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>



